* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flexbox;
}

body {
    display: flex;
    background-color: rgba(85, 107, 47, 0.924);
    margin: 0;
}

div {
    display:flex
}

h1 {
    color: brown;
    border: black 1px solid;
    background-color:bisque;
    text-align: center;
    margin: 5px;
    padding: 5px 5px 5px 5px;
}

h2 {
    color:seashell;
    border: solid 1px black;
    background-color:forestgreen;
    text-align: center;
    width: 90%;
}

h3  {
    color: forestgreen;
    text-align: center;
    background-color: seashell;
    border: solid 1px black;
    margin: 5px;
}


#results {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#weatherCard {
    background-color: rgba(76, 191, 236, 0.794);
    border: 1px solid black;
    text-align: center;
    color: white;
    display: block;
    width: 90%;
}

#weatherCards {
    flex-direction: column;
}

#weathHead {
    color: orange;
    background-color: purple;
    font-size: x-large;
    margin-top: 0px;
    border-bottom: black 1px solid;
}

#parkCard {
    border: solid 1px black;
    background-color: rgb(117, 149, 62);
    margin-bottom: 3px;
    margin-left: 3px;
    padding: 5px;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#parkDesc {
    color: seashell;
    text-align: justify;
    width: 90%;
    display: flex;
}

#parkPic {
    width: 475px;
    display: flex;
}

#form {
    display: flex-box;
    flex-direction: column;
    padding: 2px;
}

#currentDate {
    text-align: center;
    background-color: seashell;
    color: brown;
    margin: 2px 6px 2px 6px;
}

#stateSearch,
#submitBtn {
    width: 97%;
}

@media only screen and (max-width: 1400px) {
    #parkPic {
        width: 300px;
    }
}

@media only screen and (max-width: 1300px) {
    #parkPic {
        width: 200px;
    }
}

@media only screen and (max-width: 750px) {
    #parkPic {
        width: 100px;
    }
    * {
        font-size: small;
    }
}